{
    # Debug
    {$CADDY_DEBUG}
    {$GLOBAL_DIRECTIVES}
}

:80 {
    {$CADDY_EXTRA_CONFIG}

    @do_varnish_pass {
    	header !X-Caddy-Forwarded
    }

    log {
    	level {$LOG_LEVEL:"info"}
    }

    route {
        root * /srv/app/public

        reverse_proxy @do_varnish_pass {
        			to {$VARNISH_UPSTREAM}
        			fail_duration 5s
        			trusted_proxies {$TRUSTED_PROXIES}
        			header_up X-Caddy-Forwarded 1
        	}

       php_fastcgi unix//var/run/php/php-fpm.sock {
       			trusted_proxies {$TRUSTED_PROXIES}
       	}

        encode zstd gzip
        file_server
    }
}
