**/*.log
**/*.md
**/*.php~
**/*.dist.php
**/*.dist
**/*.cache
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/docker-compose.*.yaml
**/docker-compose.*.yml
**/docker-compose.yaml
**/docker-compose.yml
**/Dockerfile
**/Thumbs.db
.github/
../app/docs/
../app/public/bundles/
../app/tests/
../app/var/
../app/vendor/
../app/.editorconfig
../app/.env.*.local
../app/.env.local
../app/.env.local.php
../app/.env.test
../app/node_modules/
../app/config/secrets/prod/prod.decrypt.private.php
